#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container {
  background-color: aqua;
  height: 1200px;
  display: flex;
  justify-content: center
}

.btn {
  width: 100px;
  height: 100px;
  margin-top: 70px;

}

.box {
  background: rgb(232, 224, 224);
  margin-bottom: 35px;
  border: 2px solid slategrey;
}